/* Chemistry Quiz Cascading Style Sheet
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Mobile First Approach */
/*
Primary color: #00836d;

Complementary: #7c0014;

Analogous: #78d599;
Analogous: #005c9c;

red-background: #c76166;

font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;
*/ 

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Content Elements */
body {
  background-image: url('images/background-img.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}

main {
  flex: 0 100%;
  padding: 0 1.5vh;
  text-align: center;  
}

section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border: .5px solid #7c0014;
  border-left: none;
  border-right: none;
}

header {
  flex: 0 100%;
  text-align: center;
}

footer {
  flex: 0 100%;
  text-align: end;
  font-family: 'Playfair Display', serif;
  font-size: .7em;
}

.multiple-choices {
  width: 100%;
  text-align: left;
  flex: 0 100%;
}

.feedback {
  border-radius: 8px;
  padding: 1vh;
  width: 70%;
  margin: auto;
  margin-top: 2.5vh;
  margin-bottom: 1.5vh;
  flex-flow: row wrap;
}

.correct {
  background-color: #78d599;
  border: 1.5px solid rgb(5, 141, 0);
  color: rgb(5, 141, 0);
}

.incorrect {
  background-color: #c76166;
  border: 1.5px solid rgb(141, 0, 0);
  color: rgb(141, 0, 0);
}

.hidden {
  display: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Text Elements */
h1 {color: #00836d}
h2 {color: #005c9c;flex:0 40%;}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

.results-page h3 {
  color: #00836d;
  text-align: left;
}

p, strong {
  flex: 1;
  color: #005c9c;
  font-family: 'Montserrat', sans-serif;
  /* text-align: center; */
}

/* footer p {
  text
} */

.feedback p, .feedback i {
  text-align: left;
  margin: 1vh 0 0 0;
  flex: 0 100%;
  color: #000000;
  font-size: .9em;
}

.feedback h3 {
  margin: 1vh 0 0 0;
}

strong {
  font-size: 1.2em;
  display: block;
  text-align: left;
  width: 89%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

span {
  font-family: 'Playfair Display', serif;
  font-size: 1.14em;
  color: #005c9c;
}

figcaption {
  font-size: .7em;
  font-family: 'Playfair Display', serif;
  text-align: left;
  padding-left: 4vh;
  background-image: url('images/background-img.jpg');
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Start Quiz, Next Question Button */
button[type='button'] {
  text-align: center;
  background-color: #00836d;
  color: #78d599;
  font-family: 'Montserrat', sans-serif;
  border: .8px ridge #78d599;
  border-radius: 1.5vh;
  margin: 2vh 0 1vh 0;
  flex: 0 20%;
  padding: 1.5vh;
}

button[type='button']:hover {cursor: pointer;background-color: #005c9c;}
button[type='button']:active {cursor: pointer;background-color: #ffffff}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Submit Answer, Restart Quiz Button */
button[type='submit'] {
  text-align: center;
  background-color: #00836d;
  color: #78d599;
  font-family: 'Montserrat', sans-serif;
  border: .8px ridge #78d599;
  border-radius: 1.5vh;
  flex: 0 20%;
  padding: 1.5vh;
}

button[type='submit']:hover {cursor: pointer;background-color: #005c9c;}
button[type='submit']:active {cursor: pointer;background-color: #ffffff}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Submit Answer Button, Next Question Button */
section .multiple-choices button {
  margin: 1.5vh 0 0 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Next Question Button */
.incorrect button {border: 2px ridge #7c0014;}
.correct button {border: 2px ridge #00836d;}

.incorrect button:hover {background-color: #7c0014; color: #c76166;}
.correct button:hover {background-color: #00836d; color: #78d599;}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Interactive Elements */
figure {
  flex: 0 68%;
  margin-top: 0;
  border: .8px solid #7c0014;
  width: 76%;
}

img {
  width: 100%;
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  margin: 0;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  flex: 0 89%;
  margin: .75vh 0 .75vh .25vh;
  color: #00836d;
}

input[type='radio'] {
  flex: 0 10%;
}

a { text-decoration: none;}
a:link    { color: #005c9c; }
a:visited { color: #c76166; }
a:hover   { color: #78d599; }
a:active  { color: #9ac277; }
/*--------------------------------------------Tablets-----------------------------*/
@media all and (orientation: landscape) /* and (max-height: 448px) and (max-width: 824px) */ {
  section {
    flex-flow: row wrap;
    margin-bottom: 6vh;
    padding-bottom: 3vh;
  }

  .feedback {
    /* width: 39%; */
    flex: 0 40%;
  }

  .multiple-choices {
    display: flex;
    flex-flow: row wrap;
  }

  h2{
    flex: 0 36%;
  }

  p {
    margin-left: 3vh;
    flex: 0 100%;
  }

  .start-section p {
    flex: 0 30%;
  }

  .results-page p {
    flex: 0 50%;
  }

  section button[type='button'] {
    margin: 6vh 3vh 3vh 0;
  }

  .feedback p, .feedback i, .feedback h3, section .multiple-choices button {
    margin: 3vh 0 0 0;
  }

  .feedback h3 {
    margin-top: 0;
  }

  .results-page h3 {
    flex: 0 40%;
  }

  .results-page form {
    flex: 0 100%;
    margin: auto;
  }

  figure {
    flex: 0 49%; 
    width: 70%;
    margin-top: 2vh;
  }

  form {
    flex: 0 55%;
    margin: auto;
    margin-top: 2.5vh;
    margin-bottom: 1.5vh;
  }

  .results-page {
    width: 70%;
    margin: auto;
  }
}
 
/*-------------------------------------Small Tablets------------------------------*/
@media all and (min-height: 599px) and (min-width: 449px) and (orientation: portrait) and (max-width: 1023px) {
  section {
    flex-flow: row wrap;
  }
  
  .start-section {
    flex-flow: column wrap;
  }

  .feedback {
    width: 45%;
  }

  .multiple-choices {
    flex: 0 100%;
  }

  h1 {font-size: 1.6em;} 
  
  h2 {
    font-size: 1.4em;
    margin: 2vh 0 .25vh 0;
    flex: 0 20%;
  }
  
  .feedback h3 {font-size: 1.3em;}

  .results-page p {
    flex: 0 50%;
  }
  
  p, i, strong, label {font-size: 1em;} span {font-size: .9em} figcaption {font-size: .5em} .feedback button[type='button'] {font-size: .85em;}

  .results-page h3, .results-page form {
    flex: 0 40%;
  }

  figure {
    width: 60%;
    flex: 1;
    margin-top: 2vh;
  }
}

/*------------------------------------- Big Tablets-------------------------------*/
@media all and (min-width: 1024px) and (orientation: portrait) {
  section {flex-flow: row wrap;}

  .start-section {flex-flow: column wrap;}

  .multiple-choices {
    display: flex;
    flex-flow: row wrap;
  }

  h1 {font-size: 1.6em;} h2 {font-size: 1.4em;margin-left: 2vh;flex: 0 21%;}
  
  .feedback h3 {font-size: 1.3em;}

  .results-page h3, .results-page form {
    flex: 0 40%;
  }

  p {
    margin-left: 3vh;
    flex: 0 100%;
  }

  span{
    font-size: 2em;
  }

  .results-page p {
    flex: 0 50%;
  }

  p, i, strong, label {
    font-size: 1em;
  } 
    
  span {font-size: .9em} 
  
  figcaption {font-size: .5em}

  .feedback button[type='button'] {font-size: .85em;}

  figure {
    flex: 0 49%; 
    width: 70%;
    margin-top: 2vh;
  }

  form {
    flex: 0 60%;
    margin: auto;
    margin-top: 2.5vh;
    margin-bottom: 1.5vh;
  }

  .feedback {
    text-align: center;
    padding: 0 1vh;
    flex: 0 30%;
  }

  .feedback h3 {
    flex: 0 100%;
  }

  .feedback p, .feedback i, section .multiple-choices button {
    margin: 1.5vh 0 0 .8vh;
  }

  .feedback button[type='button'] {
    flex: 0 50%;
    padding: 0;
    margin-left: 0;
  }
}

/*------------------------------------ Monitors and Landscape Big Tablets ---------*/
@media all and (min-width: 1365px) {
  
  .start-section button[type='button'] {
    flex: 0 35%;
  }

  h2 {
    flex: 0 100%;
  }

  P {
    flex: 0 100%;
  }

  figure {
    flex: 0 40%;
    width: 100%;
  }

  .multiple-choices {
    flex: 0 50%;
    display: flex;
    flex-flow: row wrap;
  }

  .feedback {
    text-align: center;
    flex: 0 100%;
  }

  form {
    flex: 0 100%;
    margin: 2.5vh 0 1.5vh 3vh;
  }

  .feedback p, .feedback i, section .multiple-choices button {
    margin-top: 1.5vh;
  }

  .feedback button[type='button'] {
    padding: 0;
  }
}