/* Chemistry Quiz Cascading Style Sheet

Primary color: #00836d;

Complementary: #7c0014;

Analogous: #78d599;
Analogous: #005c9c;

font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;
*/ 

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Content Elements */
body {
  background-image: url('images/background-img.jpg');
  background-size: cover;
  height: 100vh;
}

main {
  padding: 0 1.25vh;  
}

section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
  border: .5px solid #7c0014;
  border-left: none;
  border-right: none;
  border-top: none;
}

footer {
  display: block;
  text-align: right;
  font-size: 13px;
  margin-top: 24vh;
}

.heading {
  text-align: center;
  border: 4px solid #7c0014;
  border-left: none;
  border-right: none;
  padding-bottom: 2vh;
}

.multiple-choices {
  width: 89%
}

.feedback {
  border-radius: 8px;
  padding: 1vh;
  margin: 2.5vh 0 1.5vh 0;
  text-align: center;
}

.correct {
  background-color: rgb(140, 223, 132);
  border: 1.5px solid rgb(5, 141, 0);
  color: rgb(5, 141, 0);
}

.incorrect {
  background-color: rgb(223, 132, 132);
  border: 1.5px solid rgb(141, 0, 0);
  color: rgb(141, 0, 0);
}

.hidden {
  display: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Text Elements */
h1 {color: #00836d;}
h2 {color: #005c9c;}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

h3 {
  margin-bottom: 0;
}

.correct p, .incorrect p {
  margin-bottom: 0;
  color: #000000;
}

p, strong {
  flex: 1;
  color: #005c9c;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

strong {
  font-size: 19px;
  display: block;
  text-align: left;
  width: 89%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

span {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  color: #005c9c;
}

figcaption {
  font-size: 10px;
  font-family: 'Playfair Display', serif;
  text-align: left;
  padding-left: 4vh;
  background-image: url('images/background-img.jpg');
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Start Quiz, Next Question Button */
button[type='button'] {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border: .8px ridge #78d599;
  border-radius: 1.5vh;
  flex: 0 50%;
}

button[type='button']:hover {cursor: pointer;background-color: #005c9c;}
button[type='button']:active {cursor: pointer;background-color: #ffffff}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Submit Answer, Restart Quiz Button */
button[type='submit'] {
  text-align: center;
  background-color: #00836d;
  color: #78d599;
  font-family: 'Montserrat', sans-serif;
  border: .8px ridge #78d599;
  border-radius: 1.5vh;
  flex: 0 50%;
}

button[type='submit']:hover {cursor: pointer;background-color: #005c9c;}
button[type='submit']:active {cursor: pointer;background-color: #005c9c;}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Start Quiz Button */
section button {
  margin: 4vh 0 2vh 0;
  flex: 0 25%;
  background-color: #00836d;
  color: #78d599;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Submit Answer Button, Next Question Button */
section .multiple-choices button {
  margin: 2vh 0 1vh 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Next Question Button */
.incorrect button {color: #7c0014; border: 2px ridge #7c0014; background-color: rgb(223, 132, 132);}
.correct button {color: #00836d; border: 2px ridge #00836d; background-color: rgb(140, 223, 132);}

.incorrect button:hover {background-color: #7c0014; color: rgb(223, 132, 132);}
.correct button:hover {background-color: #00836d; color: #78d599;}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Interactive Elements */
figure {
  flex: 1;
  margin-top: 0;
  border: .8px solid #7c0014;
}

img {
  width: 100%;
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0 .5vh;
}

label {
  font-family: 'Montserrat', sans-serif;
  flex: 0 91%;
  margin: .75vh 0 .75vh .8vh;
  color: #00836d;
}

input[input='radio'] {
  flex: 0 9%;
  margin: 1.5vh 0 0 0;
}

a { text-decoration: none;}
a:link    { color: #005c9c; }
a:visited { color: #00836d; }
a:hover   { color: #78d599; }
a:active  { color: #9ac277; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Mobile First Approach */
@media all and (orientation: landscape) {
  section {
    margin: auto;
    max-width: 100%;
    flex-flow: row wrap;
    text-align: center;
  }

  .feedback {
    margin: auto;
    margin-top: 2.5vh;
    margin-bottom: 1.5vh;
    flex-flow: column wrap;
  }

  h2 {
    flex: 0 40%;
  }

  form {
    text-align: left;
  }

  figure {
    flex: 0 45%;
  }

  label {
    flex: 0 96%;
  }
}

@media all and (min-width: 811px) and (min-height: 374px) and (orientation: landscape) {
  section {
    margin: auto;
    max-width: 85%;
    flex-flow: row wrap;
  }

  .feedback {
    margin: auto;
    margin-top: 2.5vh;
    margin-bottom: 1.5vh;
  }

  h2 {
    flex: 0 40%;
  }

  figure {
    flex: 0 45%;
  }

  label {
    flex: 0 97%;
  }
}

@media all and (min-width: 767px) and (min-height: 1023px) {
  section {
    margin: auto;
    max-width: 92%;
  }

  .results-page {
    flex-flow: column wrap;
  }

  p {
    flex: 0 41%;
  }
  
  figure {
    width: 68%;
  }

  label {
    flex: 0 95%;
    margin: 2vh 0 2vh 1.5vh;
    color: #00836d;
  }

  input[input='radio'] {
    flex: 0 5%;
    margin: 1.5vh 0 0 0;
  }

  .multiple-choices {
    width: 87%;
  }

  .feedback {
    margin: auto;
    margin-top: 2.5vh;
    margin-bottom: 1.5vh;
  }
}

@media all and (min-width: 1365px) and (min-height: 1023px) and (orientation: landscape) {
  section {
    margin: auto;
    max-width: 92%;
  }

  .results-page {
    flex-flow: column wrap;
  }

  p {
    flex: 0 50%;
  }
  
  figure {
    width: 68%;
  }

  label {
    flex: 0 97%;
  }

  .multiple-choices {
    width: 87%;
  }

  .feedback {
    margin: auto;
    margin-top: 2.5vh;
    margin-bottom: 1.5vh;
  }
}