/* Chemistry Quiz Cascading Style Sheet

Primary color: #00836d;

Complementary: #7c0014;

Analogous: #78d599;
Analogous: #005c9c;

font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/ 

body {
  background-image: url('images/background-img.jpg');
  background-size: cover;
  height: 100vh;
}

main {
/*   margin: auto;
  margin-top: 1vh; */
  padding: 0 2.5vh;  
}

section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
  border: .5px solid #7c0014;
  border-left: none;
  border-right: none;
  border-top: none;
}

section.feedback.incorrect header {
  color: rgb(141, 0, 0)
}

section.feedback.correct header {
  color: rgb(5, 141, 0);
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  text-align: center;
}

h1 {color: #00836d;}
h2 {color: #005c9c;}
h3 {color: #00836d;}

section button {
  text-align: center;
  background-color: #78d599;
  color: #00836d;
  font-family: 'Poppins', sans-serif;
  border: 1.5px ridge #7c0014;
  border-radius: 1.5vh;
  padding: 1vh;
  flex: 0 50%;
}

button:hover {cursor: pointer;background-color: #7c0014;}
button:active  {cursor: pointer;background-color: #005c9c;}

.incorrect button {
  background-color: transparent;
  border: 2px solid #7c0014;
  margin: 0  0 1vh 0;
}

.correct button {
  background-color: transparent;
  border: 2px solid #00836d;
  margin: 0 0 1vh 0;
}

.incorrect button:hover {cursor: pointer; background-color: #7c0014;}
.correct button:hover {cursor: pointer; background-color: #00836d;}

main section button {
  margin: 4vh 0 2vh 0;
}

main section .multiple-choices button {
  margin: 1vh 0;
}

.correct {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: rgb(140, 223, 132);
  border-radius: 8px;
  border: 1.5px solid rgb(5, 141, 0);
  padding: 8px 3px 4px 3px;
  margin-bottom: 1.5vh;
}

.incorrect {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: left;
  background-color: rgb(223, 132, 132);
  border-radius: 8px;
  border: 1.5px solid rgb(141, 0, 0);
  padding: 8px 5px 5px 3px;
  margin-bottom: 1.5vh;
}

.incorrect header h3, .incorrect p, .incorrect button, .correct header h3, .correct p, .correct button {
  color: #000000;
}

.correct p, .incorrect p, .incorrect h3, .correct h3 {
  margin-bottom: 0;
}

#score-sheet {
  margin-top: 7vh;
}

p {
  flex: 1;
  color: #005c9c;
  font-family: 'Poppins', sans-serif;
}

strong {
  font-family: 'Poppins', sans-serif;
}

i {
  margin-bottom: 1vh;
}

span {
  font-family: 'Playfair Display', serif;
  color: #005c9c;
}

.hidden {
  display: none;
}

.heading {
  margin: auto;
  text-align: center;
  border: 4px solid #7c0014;
  border-left: none;
  border-right: none;
}

/* .container {
  flex: 0 50%;
} */

/* .heading2 {
  max-width: 600px;
  margin: auto;
  text-align: center;
  border: solid .5px;
  border-bottom: 2px solid rgb(83, 83, 83);
  border-left: none;
  border-right: none;
} */

.multiple-choices {
  flex: 1;
}

figure {
  flex: 1;
  margin-top: 0;
  border: .8px solid #7c0014;
}

img {
  width: 100%;
  background-attachment: scroll;
}

figcaption {
  font-size: 10px;
  font-family: 'Playfair Display', serif;
  text-align: left;
  padding-left: 8vh;
  background-image: url('images/background-img.jpg');
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0 .5vh;
}

label {
  font-family: 'Poppins', sans-serif;
  /* font-size: 17px; */
  flex: 0 94%;
  margin: .75vh 0 .75vh .8vh;
  color: #00836d;
}

input[input='radio'] {
  flex: 0 5%;
  margin: 1.5vh 0 0 0;
}

footer {
  display: block;
  float: right;
  text-align: end;
  font-size: 13px;
  margin-top: 30vh;
}

a { text-decoration: none;}
a:link    { color: #005c9c; }
a:visited { color: #00836d; }
a:hover   { color: #78d599; }
a:active  { color: #9ac277; }





@media (orientation: landscape) {
  section {
    margin: auto;
    max-width: 85%;
    flex-flow: row wrap;
    align-self: center;
  }

  figure {
    width: 59%;
    flex: 0 42%;
  }

  p {
    flex: 0 41%;
  }

  main section button {
    flex: 0 25%;
  }

  .multiple-choices {
    width: 58%;
  }
}
@media (min-width: 1100px) {
  section {
    margin: auto;
    max-width: 92%;
    flex-flow: row wrap;
    align-self: center;
  }

  figure {
    width: 80%;
    flex: 0 42%;
  }

  p {
    flex: 0 41%;
  }

  main section button {
    flex: 0 25%;
  }

  .multiple-choices {
    width: 80%;
  }
}